.header {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: blueviolet;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  gap: 1rem;
}


.header_logo_text {
  font-size: 1.8rem;
  font-weight: 500;
}

.header_side_content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
img{
    width: 64px;
    height: 64px;
}