.container{
  background-color: #F1E3D3;
  height:100dvh;
}

.content-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.welcome-card {
  margin-bottom: 20px;
  text-align: center;
  color: white;
  background-color: #515151;
}

.doctors-section {
  margin-top: 30px;
}

.doctors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.doctor-card {
  height: 100%;
  color : white;
  background-color: #515151;
}

.mat-card-actions {
  padding: 16px;
}

@media (max-width: 599px) {
  .doctors-grid {
    grid-template-columns: 1fr;
  }
}